.popup  {
  width: 100vw;
  height: 100vh;
  /* background: #00000070;*/
  /* background: #000;
  opacity: 0.5;*/
  background: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*display: none;*/
}
