.form {
  margin: 54px 22px 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* max-width: 358px; */
  width: 100%;
  align-self: center;
}


@media screen and (max-width: 540px) {
  .form {
    margin: 76px 22px 25px;
    /*max-width: 238px;*/
  }
}
