.profile {
 color: #fff;
 display: flex;
 justify-content: space-between;
 align-items: center;
 /*border: 1px solid gainsboro;*/
 max-width: 880px;
 margin: 0 0 46px;
}

/* i will change it 880px */
@media screen and (max-width: 320px) {
  .profile  {
    flex-direction: column;
    max-width: 282px;
    margin: 0 auto 36px;
  }
}


/**********/
/*** IMAGE ****/
.profile__image {
  width: 168px;
  object-fit: contain;
  background-size: 50% 50%;
  background-repeat: no-repeat;
  /*border: 1px solid white;*/
  border-radius: 100%;
}


/* i will change it 880px */
@media screen and (max-width: 320px) {
  .profile__image {
    width: 120px;
    margin: 0 0 26px; /*0 26px;*/
  }
}

.profile__section-information {
  margin-right: 172px;
  /*max-width: 415px;*/
  min-width: 415px;
  margin-left: 4px;
}




.profile__row {
  /*border: 1px solid red;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*max-width: 224px;*/
  /*min-width: 224px;*/
  margin: 0 0 14px;


}

/* i will change it 880px */
@media screen and (max-width: 320px) {
  .profile__row {
    /*max-width: 224px;*/
    min-width: 224px;
    margin: 0 0 14px;
  }
}


.profile__name {
  /*max-width: 373px;*/
  /*border: 1px solid teal;*/
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

@media screen and (max-width: 320px) {
  .profile__name  {
    max-width: 196px;
    font-size: 22px;
    line-height: 27px;
  }
}


.profile__about {
  margin: 0; /* 71 - 46 = 24 */
  font-size: 18px;
  line-height: 22px;
}


@media screen and (max-width: 320px) {
.profile__about {
  margin: 0 0 36px;
  font-size: 14px;
  line-height: 17px;
  }
}

.profile__edit-button {
  margin: 5px 0 0;
  box-sizing: border-box;
  background-image: url(../../images/logos/pencil-edit.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 ;
  width: 24px;
  height: 24px;
  background-color: #000;
  border: 1px solid #fff;
}

/* i will change it 880px */
@media screen and (max-width: 320px) {
  .profile__edit-button {
    margin: 0;
    width: 18px;
    height: 18px;
  }
}



.profile__button-add {
  padding: 0;
  box-sizing: border-box;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 2px;
  background-image: url(../../images/logos/add-plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 50px;

}


@media screen and (max-width: 320px) {
  .profile__button-add {
    width: 282px;
  }
}

