.profile {
 color: #fff;
 display: flex;
 /*justify-content: space-between;*/

 align-items: center;
 /*border: 1px solid gainsboro;*/
 max-width: 880px;
 width: 100%;
 margin: 0 0 46px;
}



@media screen and (max-width: 540px) {
  .profile  {
    flex-direction: column;
    max-width: 282px;
    margin: 0 auto 36px;
  }
}



.profile__section-information {
  margin: 0 120px 0 0;

}

@media screen and (max-width: 540px) {
  .profile__section-information {
    margin: 0 0 36px;
    max-width: 282px;
    text-align: center;
  }
}

/*** row **/
.profile__row {
  /*border: 1px solid red;*/
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  margin: 0 0 16px;
}

/* i will change it 880px */
@media screen and (max-width: 540px) {
  .profile__row {
    margin-bottom: 14px;
  }
}


/** name **/
.profile__name {
  max-width: 373px;
  /*border: 1px solid teal;*/
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

@media screen and (max-width: 540px) {
  .profile__name  {
    max-width: 196px;
    font-size: 22px;
    line-height: 27px;
    margin-right: 10px;
  }
}


.profile__about {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
}


@media screen and (max-width: 540px) {
.profile__about {
  font-size: 14px;
  line-height: 17px;
  }
}



