.card {
  overflow: hidden;
  background-color: #fff;
  border: 1px solid green;
  border-radius: 10px;
  max-width: 282px;
  color: #000;
  margin: 0 auto;
  min-height: 361px;
}

.card__image {
  width: 100%;
  margin: 0 0 25px;
  object-fit: cover;
}


.card__row {
  margin-left: 21px;
  margin-right: 18px;
  display: flex;
  justify-content: space-between;/*space-around;*/

}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  max-width: 222px;;
}

.card__like {
  background-image: url(../../images/logos/love.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 21px;
  height: 19px;
  align-self: center;

}

